{% extends 'base.html' %}

{%block content%}

			<div role="main" class="main">
				<section class="page-header page-header-modern page-header-background parallax overlay overlay-color-dark overlay-show overlay-op-5 m-0 py-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="{{url_for('static',path='/img/demos/hotel/backgrounds/background-4.jpg')}}">
					<div class="container py-4">
						<div class="row py-5">
							<div class="col-md-12 align-self-center p-static text-center">
								<h1 class="text-light mt-4 mb-0 pb-0 font-weight-bold text-8">Special Offers</h1>
								<div class="divider divider-primary divider-small my-3 text-center">
									<hr class="mt-2 mx-auto">
								</div>								
							</div>
							<div class="col-md-12 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block mb-4 text-center">
									<li><a href="vipoffers.html#">Home</a></li>
									<li class="active">Special Offers</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container py-5">

					<div class="row">

						<div class="col">

							<div class="row mb-4">
								<div class="col">
									<article class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
										<div class="card border-0 border-radius-0 box-shadow-1">
											<div class="card-body p-4 m-2 z-index-1">
												<div class="row">
													<div class="col-md-4 pb-4 pb-md-0">
														<a href="demo-hotel-book.html">
															<img class="card-img-top border-radius-0" src="{{url_for('static',path='/img/demos/hotel/blog/blog-1.jpg')}}" alt="Card Image">
														</a>
													</div>
													<div class="col-md-8">
														<div class="card-body p-0">
															<h4 class="card-title text-5 font-weight-bold pb-1 mt-0 pt-0 mb-2"><a class="text-color-dark text-decoration-none" href="demo-hotel-book.html">Free Room Upgrade</a></h4>
															<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a erat non sem elementum accumsan vel nec nisl. Fusce nec lacinia massa, ac hendrerit neque. Nam a diam eget nunc euismod scelerisque vel in quam. Donec tincidunt libero laoreet nisi viverra ornare. Donec ac efficitur quam, sed egestas enim.</p>
															<a class="font-weight-bold text-uppercase text-2 text-decoration-none mt-2 mb-4" href="demo-hotel-book.html">Book Now <i class="fas fa-angle-right p-relative top-1 ms-1"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</article>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col">
									<article class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="150">
										<div class="card border-0 border-radius-0 box-shadow-1">
											<div class="card-body p-4 m-2 z-index-1">
												<div class="row">
													<div class="col-md-4 pb-4 pb-md-0">
														<a href="demo-hotel-book.html">
															<img class="card-img-top border-radius-0" src="{{url_for('static',path='/img/demos/hotel/blog/blog-2.jpg')}}" alt="Card Image">
														</a>
													</div>
													<div class="col-md-8">
														<div class="card-body p-0">
															<h4 class="card-title text-5 font-weight-bold pb-1 mt-0 pt-0 mb-2"><a class="text-color-dark text-decoration-none" href="demo-hotel-book.html">Summer Sale</a></h4>
															<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a erat non sem elementum accumsan vel nec nisl. Fusce nec lacinia massa, ac hendrerit neque. Nam a diam eget nunc euismod scelerisque vel in quam. Donec tincidunt libero laoreet nisi viverra ornare. Donec ac efficitur quam, sed egestas enim.</p>
															<a class="font-weight-bold text-uppercase text-2 text-decoration-none mt-2 mb-4" href="demo-hotel-book.html">Book Now <i class="fas fa-angle-right p-relative top-1 ms-1"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</article>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<article class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
										<div class="card border-0 border-radius-0 box-shadow-1">
											<div class="card-body p-4 m-2 z-index-1">
												<div class="row">
													<div class="col-md-4 pb-4 pb-md-0">
														<a href="demo-hotel-book.html">
															<img class="card-img-top border-radius-0" src="{{url_for('static',path='/img/demos/hotel/blog/blog-3.jpg')}}" alt="Card Image">
														</a>
													</div>
													<div class="col-md-8">
														<div class="card-body p-0">
															<h4 class="card-title text-5 font-weight-bold pb-1 mt-0 pt-0 mb-2"><a class="text-color-dark text-decoration-none" href="demo-hotel-book.html">New Jacuzzi for Free</a></h4>
															<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a erat non sem elementum accumsan vel nec nisl. Fusce nec lacinia massa, ac hendrerit neque. Nam a diam eget nunc euismod scelerisque vel in quam. Donec tincidunt libero laoreet nisi viverra ornare. Donec ac efficitur quam, sed egestas enim.</p>
															<a class="font-weight-bold text-uppercase text-2 text-decoration-none mt-2 mb-4" href="demo-hotel-book.html">Book Now <i class="fas fa-angle-right p-relative top-1 ms-1"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</article>
								</div>

							</div>
							
						</div>

					</div>

				</div>
				<section class="section section-tertiary section-no-border m-0">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-3 mt-1 pt-2">

								<p class="lead p-0 m-0 text-3 opacity-7 text-uppercase">Sign Up Now For</p>
								<h4 class="mb-1 mt-0 text-light font-weight-bold text-5-5 p-relative bottom-4">Exclusive Special Offers:</h4>

							</div>
							<div class="col-lg-9">

								<div class="alert alert-success d-none" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>

								<div class="alert alert-danger d-none" id="newsletterError"></div>

								<form id="newsletterForm" action="https://www.okler.net/previews/porto/10.2.0/php/newsletter-subscribe.php" method="POST">
									<div class="row">
										<div class="form-group col-md-5">
											<div class="form-control-custom">
												<input type="text" class="form-control form-control-lg py-3 text-2 mt-2" id="newsletterName" placeholder="Full Name *" required>
											</div>
										</div>
										<div class="form-group col-md-4">
											<div class="form-control-custom">
												<input type="email" class="form-control form-control-lg py-3 text-2 mt-2" id="newsletterEmail" placeholder="Email Address *" 
												required>
											</div>
										</div>
										<div class="form-group col-md-3">
											<button type="submit" class="btn btn-primary font-weight-bold text-uppercase py-3 w-100 mt-2">Subscribe Now</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</section>

			{%endblock content %}